## study_pandas 
link-):<https://www.kaggle.com/residentmario/creating-reading-and-writing>

## Table of API
- [1 - the DataFrame and the Serise](#1)
    - [1.1-DataFrame](#1-1)
    - [1.2-Series](#1-2)
- [2 - Reading data files](#2)
    - pd.read_csv()
    - DataFrame.shape
	- DataFrame.head()
  
- [3 - Save data](#3)
    - DataFrame.to_csv(open(file,’w’))

- [4 - Native accessors](#4)
    - DataFrame.label
    - DataFrame.['label']
    
- [5 - indexing in pandas](#5)
    - [5.1-index-based selection](#5.1)
        - DataFrame.iloc[]
		- DataFrame.iloc[:,0]
		- DataFrame.iloc[:3,0]
		- DataFrame.iloc[1:3,0]
		- DataFrame.iloc[[1,2,3],0]
		- DataFrame.iloc[-5,0]
    - [5.2-Label-based selection](#5.2)
        - DataFrame.loc[1,’label’]
		- DataFrame.loc[:,[‘label1’,’label2’]]
    
- [6 -Manipulating the index](#6)
    - DataFrame.set_index(‘label’)

    
    
- [7 - Conditional selection](#7)
    - DataFrame.label=“value1”
	- DataFrame.loc[DataFrame.label1==‘value1’]
	- operation symbol:and(&)
	- operation symbol:or(|)
	- DataFrame.isin()
	- DataFrame.isnull()
	- DataFrame.notnull()

    
- [8 - Assigning data](#8)
    - DataFrame[‘label1’]=‘value’
    
- [9 - Summary functions](#9)
    - DataFrame.describe()
	- DataFrame.mean()
	- DataFrame.unique()
	- DataFrame.value_counts()

- [10 - Maps](#10)
    - DataFrame.map()
	- DataFrame.apply()
	- operators
   
 
- [11 - Groupwise analysis](#11)
    - DataFrame.groupby()
	- agg

- [12 - Multi-indexes](#12)
    - reset_index()

- [13 - Sorting](#13)
    - sort_values()
	- sort_index()
   
- [14 - Dtypes](#14)
    - type

- [15 - missing data](#15)
    - pd.isnull()
    - DataFrame.fillna()
    - DataFrame.replace()
- [16 - Renaming](#16)
    - DataFrame.rename()
	- DataFrame.rename_axis()
- [17 - Combining](#17)
    - DataFrame.concat()
	- DataFrame.join()

In [2]:
import pandas as pd

In [3]:
wine_data_path='data/winemag-data-130k-v2.csv'
reviews=pd.read_csv(wine_data_path)

In [4]:
reviews.head(2)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

<a name='1'></a>
### the DataFrame and the Serise

<a name='1-1'></a>
#### 一.DataFrame

In [2]:
pd.DataFrame({"Yes":[50,21],"No":[131,2]})

   Yes   No
0   50  131
1   21    2

In [3]:
pd.DataFrame({"Bob":["I liked it.","It was awful."],"Sue":['Pretty good.',"Bland."]})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [4]:
pd.DataFrame({"Bob":['I liked it.',"It was awful."],
              "Sue":['Pretty good.',"Bland."]},
             index=['Product A','Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

<a name='1-2'></a>
#### 二.Series

In [5]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
pd.Series([30,35,40],index=['2015 Sales','2016 Sales','2017 Sales'],name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

<a name='2'></a>
### Reading data files

In [7]:
data_reviews=pd.read_csv("data/input.csv")

In [8]:
data_reviews.shape

(2608, 5)

In [9]:
data_reviews.head()

,Unnamed: 0,api_element,cq,suggest_sen,kwd
0,0,String.substring(int beginIndex),Did you cause the error java.lang.IndexOutOfBo...,- if beginIndex is negative or larger than th...,['java.lang.IndexOutOfBoundsException']
1,1,Math.incrementExact(long a),Did you cause the error java.lang.ArithmeticEx...,- if the result overflows a long you will cau...,['java.lang.ArithmeticException']
2,2,Scanner.hasNextBigInteger(int radix),Did you cause the error java.lang.IllegalState...,- if this scanner is closed you will cause th...,['java.lang.IllegalStateException']
3,3,NavigableMap.tailMap(K fromKey),Did you cause the error java.lang.ClassCastExc...,- if fromKey is not compatible with this map'...,['java.lang.ClassCastException']
4,4,NavigableMap.tailMap(K fromKey),Did you cause the error java.lang.NullPointerE...,- if fromKey is null and this map uses natura...,['java.lang.NullPointerException']

In [10]:
data_index=pd.read_csv("data/input.csv",index_col=0)
data_index.head(3)

,api_element,cq,suggest_sen,kwd
0,String.substring(int beginIndex),Did you cause the error java.lang.IndexOutOfBo...,- if beginIndex is negative or larger than th...,['java.lang.IndexOutOfBoundsException']
1,Math.incrementExact(long a),Did you cause the error java.lang.ArithmeticEx...,- if the result overflows a long you will cau...,['java.lang.ArithmeticException']
2,Scanner.hasNextBigInteger(int radix),Did you cause the error java.lang.IllegalState...,- if this scanner is closed you will cause th...,['java.lang.IllegalStateException']

<a name='3'></a>
### save data

In [11]:
data_index.to_csv(open('data/output.csv','w'))

<a name='4'></a>
### Native accessors

In [12]:
data_index.api_element

0           String.substring(int beginIndex)
1                Math.incrementExact(long a)
2       Scanner.hasNextBigInteger(int radix)
3            NavigableMap.tailMap(K fromKey)
4            NavigableMap.tailMap(K fromKey)
                        ...
2603                        java.util.Vector
2604                   java.util.WeakHashMap
2605                   java.util.WeakHashMap
2606                 java.util.stream.Stream
2607                 java.util.stream.Stream
Name: api_element, Length: 2608, dtype: object

In [13]:
data_index['api_element']

0           String.substring(int beginIndex)
1                Math.incrementExact(long a)
2       Scanner.hasNextBigInteger(int radix)
3            NavigableMap.tailMap(K fromKey)
4            NavigableMap.tailMap(K fromKey)
                        ...
2603                        java.util.Vector
2604                   java.util.WeakHashMap
2605                   java.util.WeakHashMap
2606                 java.util.stream.Stream
2607                 java.util.stream.Stream
Name: api_element, Length: 2608, dtype: object

In [14]:
data_index['api_element'][0]

'String.substring(int beginIndex)'

<a name='5'></a>
### indexing in pandas

<a name='5.1'></a>
#### index-based selection

In [15]:
data_index.iloc[0]  #select the first row of data

api_element                     String.substring(int beginIndex)
cq             Did you cause the error java.lang.IndexOutOfBo...
suggest_sen     - if beginIndex is negative or larger than th...
kwd                      ['java.lang.IndexOutOfBoundsException']
Name: 0, dtype: object

In [16]:
data_index.iloc[:,0]  #select the first column of data

0           String.substring(int beginIndex)
1                Math.incrementExact(long a)
2       Scanner.hasNextBigInteger(int radix)
3            NavigableMap.tailMap(K fromKey)
4            NavigableMap.tailMap(K fromKey)
                        ...
2603                        java.util.Vector
2604                   java.util.WeakHashMap
2605                   java.util.WeakHashMap
2606                 java.util.stream.Stream
2607                 java.util.stream.Stream
Name: api_element, Length: 2608, dtype: object

In [17]:
data_index.iloc[:3,0]  #select the first colunm from just the first second third row

0        String.substring(int beginIndex)
1             Math.incrementExact(long a)
2    Scanner.hasNextBigInteger(int radix)
Name: api_element, dtype: object

In [18]:
data_index.iloc[1:3,0]

1             Math.incrementExact(long a)
2    Scanner.hasNextBigInteger(int radix)
Name: api_element, dtype: object

In [19]:
data_index.iloc[[0,1,2],0]

0        String.substring(int beginIndex)
1             Math.incrementExact(long a)
2    Scanner.hasNextBigInteger(int radix)
Name: api_element, dtype: object

In [20]:
data_index.iloc[-5:]

,api_element,cq,suggest_sen,kwd
2603,java.util.Vector,if you use a constructor belongs to java.util...,NaN,"['constructor', 'java.util.Vector']"
2604,java.util.WeakHashMap,If you use a method belongs to java.util.WeakH...,NaN,"['method', 'java.util.WeakHashMap', 'method']"
2605,java.util.WeakHashMap,if you use a constructor belongs to java.util...,NaN,"['constructor', 'java.util.WeakHashMap']"
2606,java.util.stream.Stream,Did your class or interface extends the java.u...,NaN,['java.util.stream.BaseStream']
2607,java.util.stream.Stream,If you use a method belongs to java.util.strea...,NaN,"['method', 'java.util.stream.Stream', 'method']"

<a name='5.2'></a>
#### Label-based selection
notion:
*df.iloc[0:1000] will return 1000 entries*

*df.loc[0:1000] return 1001 of them!*

In [21]:
data_index.loc[1,'api_element']

'Math.incrementExact(long a)'

In [22]:
data_index.loc[:,['api_element','cq']]

,api_element,cq
0,String.substring(int beginIndex),Did you cause the error java.lang.IndexOutOfBo...
1,Math.incrementExact(long a),Did you cause the error java.lang.ArithmeticEx...
2,Scanner.hasNextBigInteger(int radix),Did you cause the error java.lang.IllegalState...
3,NavigableMap.tailMap(K fromKey),Did you cause the error java.lang.ClassCastExc...
4,NavigableMap.tailMap(K fromKey),Did you cause the error java.lang.NullPointerE...
...,...,...
2603,java.util.Vector,if you use a constructor belongs to java.util...
2604,java.util.WeakHashMap,If you use a method belongs to java.util.WeakH...
2605,java.util.WeakHashMap,if you use a constructor belongs to java.util...
2606,java.util.stream.Stream,Did your class or interface extends the java.u...
2607,java.util.stream.Stream,If you use a method belongs to java.util.strea...

<a name='6'></a>
### Manipulating the index

In [23]:
x=data_index.set_index('api_element')
x.head(3)  #manipulate the index in any way we see fit(such as api_element)

,cq,suggest_sen,kwd
api_element,,,
String.substring(int beginIndex),Did you cause the error java.lang.IndexOutOfBo...,- if beginIndex is negative or larger than th...,['java.lang.IndexOutOfBoundsException']
Math.incrementExact(long a),Did you cause the error java.lang.ArithmeticEx...,- if the result overflows a long you will cau...,['java.lang.ArithmeticException']
Scanner.hasNextBigInteger(int radix),Did you cause the error java.lang.IllegalState...,- if this scanner is closed you will cause th...,['java.lang.IllegalStateException']

<a name='7'></a>
### Conditional selection

In [24]:
data_index.api_element=='Math.incrementExact(long a)'

0       False
1        True
2       False
3       False
4       False
        ...
2603    False
2604    False
2605    False
2606    False
2607    False
Name: api_element, Length: 2608, dtype: bool

In [25]:
data_index.loc[data_index.api_element=='Math.incrementExact(long a)']

,api_element,cq,suggest_sen,kwd
1,Math.incrementExact(long a),Did you cause the error java.lang.ArithmeticEx...,- if the result overflows a long you will cau...,['java.lang.ArithmeticException']
652,Math.incrementExact(long a),what's the return of Math.incrementExact(long a)?,the return of Math.incrementExact(long a) shou...,"['return', 'Math.incrementExact(long a)']"

In [26]:
# operation symbol:and (&)
data_index.loc[(data_index.api_element=='Math.incrementExact(long a)')&(data_index.cq=='a')]

Empty DataFrame
Columns: [api_element, cq, suggest_sen, kwd]
Index: []

In [27]:
# operation symbol:or(|)
data_index.loc[(data_index.api_element=='Math.incrementExact(long a)')|(data_index.cq=='a')]

,api_element,cq,suggest_sen,kwd
1,Math.incrementExact(long a),Did you cause the error java.lang.ArithmeticEx...,- if the result overflows a long you will cau...,['java.lang.ArithmeticException']
652,Math.incrementExact(long a),what's the return of Math.incrementExact(long a)?,the return of Math.incrementExact(long a) shou...,"['return', 'Math.incrementExact(long a)']"

In [28]:
#DataFrame.isin():lets you select data whose value "is in" a list of values.
data_index.loc[data_index.api_element.isin(['Math.incrementExact(long a)','String.substring(int beginIndex)'])]

,api_element,cq,suggest_sen,kwd
0,String.substring(int beginIndex),Did you cause the error java.lang.IndexOutOfBo...,- if beginIndex is negative or larger than th...,['java.lang.IndexOutOfBoundsException']
1,Math.incrementExact(long a),Did you cause the error java.lang.ArithmeticEx...,- if the result overflows a long you will cau...,['java.lang.ArithmeticException']
652,Math.incrementExact(long a),what's the return of Math.incrementExact(long a)?,the return of Math.incrementExact(long a) shou...,"['return', 'Math.incrementExact(long a)']"
883,String.substring(int beginIndex),what's the return of String.substring(int begi...,the return of String.substring(int beginIndex)...,"['return', 'String.substring(int beginIndex)']"

In [29]:
#DataFrame.isnull()
data_index.loc[data_index.cq.notnull()].head(2)

,api_element,cq,suggest_sen,kwd
0,String.substring(int beginIndex),Did you cause the error java.lang.IndexOutOfBo...,- if beginIndex is negative or larger than th...,['java.lang.IndexOutOfBoundsException']
1,Math.incrementExact(long a),Did you cause the error java.lang.ArithmeticEx...,- if the result overflows a long you will cau...,['java.lang.ArithmeticException']

<a name='8'></a>
### Assigning data

In [30]:
data_index['api_element']='abc'
data_index['api_element']

0       abc
1       abc
2       abc
3       abc
4       abc
       ...
2603    abc
2604    abc
2605    abc
2606    abc
2607    abc
Name: api_element, Length: 2608, dtype: object

In [31]:
data_index['api_element']=range(len(data_index),0,-1)
data_index['api_element']

0       2608
1       2607
2       2606
3       2605
4       2604
        ...
2603       5
2604       4
2605       3
2606       2
2607       1
Name: api_element, Length: 2608, dtype: int64

<a name='9'></a>
### Summary functions

In [35]:
data_index.api_element.describe()

count    2608.000000
mean     1304.500000
std       753.009075
min         1.000000
25%       652.750000
50%      1304.500000
75%      1956.250000
max      2608.000000
Name: api_element, dtype: float64

In [36]:
data_index.head(2)

,api_element,cq,suggest_sen,kwd
0,2608,Did you cause the error java.lang.IndexOutOfBo...,- if beginIndex is negative or larger than th...,['java.lang.IndexOutOfBoundsException']
1,2607,Did you cause the error java.lang.ArithmeticEx...,- if the result overflows a long you will cau...,['java.lang.ArithmeticException']

In [37]:
data_index.cq.describe()

count                                                  2608
unique                                                 1849
top       Did you cause the error java.lang.NullPointerE...
freq                                                     55
Name: cq, dtype: object

In [39]:
data_index.api_element.mean()

1304.5

In [40]:
data_index.cq.unique()

array(['Did you cause the error java.lang.IndexOutOfBoundsException?',
       'Did you cause the error java.lang.ArithmeticException?',
       'Did you cause the error java.lang.IllegalStateException?', ...,
       'if you use a constructor belongs to  java.util.WeakHashMap,which type do you use？',
       'Did your class or interface extends the java.util.stream.BaseStream ?',
       'If you use a method belongs to java.util.stream.Stream , which method do you use?'],
      dtype=object)

In [41]:
data_index.cq.value_counts()

Did you cause the error java.lang.NullPointerException?                                               55
Did you cause the error java.lang.IllegalStateException?                                              45
what's the return of Object.toString()?                                                               39
what's the return of Object.hashCode()?                                                               35
Did you cause the error java.lang.IllegalArgumentException?                                           32
                                                                                                      ..
what's the return of Character.isUpperCase(int codePoint)?                                             1
If you use a method belongs to java.util.PrimitiveIterator , which method do you use?                  1
what's the parameter of Calendar.Builder.setLocale(Locale locale)?                                     1
what's the parameter of Dictionary.remove(Object key)?                                                 1
If you use a method belongs to java.util.Formatter.BigDecimalLayoutForm , which method do you use?     1
Name: cq, Length: 1849, dtype: int64

<a name='10'></a>
### Maps

In [48]:
data_index_api_mean=data_index.api_element.mean()
data_index.api_element.map(lambda p:p-data_index_api_mean)

0       1303.5
1       1302.5
2       1301.5
3       1300.5
4       1299.5
         ...
2603   -1299.5
2604   -1300.5
2605   -1301.5
2606   -1302.5
2607   -1303.5
Name: api_element, Length: 2608, dtype: float64

In [49]:
def remean_api_element(row):
    row.api_element-=data_index_api_mean
    return row
data_index.apply(remean_api_element,axis='columns')

,api_element,cq,suggest_sen,kwd
0,1303.5,Did you cause the error java.lang.IndexOutOfBo...,- if beginIndex is negative or larger than th...,['java.lang.IndexOutOfBoundsException']
1,1302.5,Did you cause the error java.lang.ArithmeticEx...,- if the result overflows a long you will cau...,['java.lang.ArithmeticException']
2,1301.5,Did you cause the error java.lang.IllegalState...,- if this scanner is closed you will cause th...,['java.lang.IllegalStateException']
3,1300.5,Did you cause the error java.lang.ClassCastExc...,- if fromKey is not compatible with this map'...,['java.lang.ClassCastException']
4,1299.5,Did you cause the error java.lang.NullPointerE...,- if fromKey is null and this map uses natura...,['java.lang.NullPointerException']
...,...,...,...,...
2603,-1299.5,if you use a constructor belongs to java.util...,NaN,"['constructor', 'java.util.Vector']"
2604,-1300.5,If you use a method belongs to java.util.WeakH...,NaN,"['method', 'java.util.WeakHashMap', 'method']"
2605,-1301.5,if you use a constructor belongs to java.util...,NaN,"['constructor', 'java.util.WeakHashMap']"
2606,-1302.5,Did your class or interface extends the java.u...,NaN,['java.util.stream.BaseStream']
2607,-1303.5,If you use a method belongs to java.util.strea...,NaN,"['method', 'java.util.stream.Stream', 'method']"

In [51]:
data_index.api_element-data_index_api_mean

0       1303.5
1       1302.5
2       1301.5
3       1300.5
4       1299.5
         ...
2603   -1299.5
2604   -1300.5
2605   -1301.5
2606   -1302.5
2607   -1303.5
Name: api_element, Length: 2608, dtype: float64

In [56]:
x=data_index.cq + "-" +data_index.suggest_sen
x.head(1)

0    Did you cause the error java.lang.IndexOutOfBo...
dtype: object

<a name='11'></a>
### Groupwise analysis

In [69]:
reviews.head(2)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

In [70]:
#DataFrame.groupby
reviews.groupby('points').points.count()

points
80       397
81       692
82      1836
83      3025
84      6480
85      9530
86     12600
87     16933
88     17207
89     12226
90     15410
91     11359
92      9613
93      6489
94      3758
95      1535
96       523
97       229
98        77
99        33
100       19
Name: points, dtype: int64

In [71]:
reviews.groupby('points').price.min()

points
80      5.0
81      5.0
82      4.0
83      4.0
84      4.0
85      4.0
86      4.0
87      5.0
88      6.0
89      7.0
90      8.0
91      7.0
92     11.0
93     12.0
94     13.0
95     20.0
96     20.0
97     35.0
98     50.0
99     44.0
100    80.0
Name: price, dtype: float64

In [72]:
reviews.groupby('winery').apply(lambda df:df.title.iloc[0])

winery
1+1=3                                     1+1=3 NV Rosé Sparkling (Cava)
10 Knots                            10 Knots 2010 Viognier (Paso Robles)
100 Percent Wine              100 Percent Wine 2015 Moscato (California)
1000 Stories           1000 Stories 2013 Bourbon Barrel Aged Zinfande...
1070 Green                  1070 Green 2011 Sauvignon Blanc (Rutherford)
                                             ...
Órale                       Órale 2011 Cabronita Red (Santa Ynez Valley)
Öko                    Öko 2013 Made With Organically Grown Grapes Ma...
Ökonomierat Rebholz    Ökonomierat Rebholz 2007 Von Rotliegenden Spät...
àMaurice               àMaurice 2013 Fred Estate Syrah (Walla Walla V...
Štoka                                    Štoka 2009 Izbrani Teran (Kras)
Length: 16757, dtype: object

In [73]:
reviews.groupby(['country','province']).apply(lambda df:df.loc[df.points.idxmax])

                            Unnamed: 0    country  \
country   province
Argentina Mendoza Province       82754  Argentina
          Other                  78303  Argentina
Armenia   Armenia                66146    Armenia
Australia Australia Other        37882  Australia
          New South Wales        85337  Australia
...                                ...        ...
Uruguay   Juanico                 9133    Uruguay
          Montevideo             15750    Uruguay
          Progreso               93103    Uruguay
          San Jose               39898    Uruguay
          Uruguay                39361    Uruguay

                                                                  description  \
country   province
Argentina Mendoza Province  If the color doesn't tell the full story, the ...
          Other             Take note, this could be the best wine Colomé ...
Armenia   Armenia           Deep salmon in color, this wine offers a bouqu...
Australia Australia Other   Writes the book on how to make a wine filled w...
          New South Wales   De Bortoli's Noble One is as good as ever in 2...
...                                                                       ...
Uruguay   Juanico           This mature Bordeaux-style blend is earthy on ...
          Montevideo        A rich, heady bouquet offers aromas of blackbe...
          Progreso          Rusty in color but deep and complex in nature,...
          San Jose          Baked, sweet, heavy aromas turn earthy with ti...
          Uruguay           Cherry and berry aromas are ripe, healthy and ...

                                                        designation  points  \
country   province
Argentina Mendoza Province                         Nicasia Vineyard      97
          Other                                             Reserva      95
Armenia   Armenia                                    Estate Bottled      88
Australia Australia Other                             Sarah's Blend      93
          New South Wales                        Noble One Bortytis      94
...                                                             ...     ...
Uruguay   Juanico                  Preludio Barrel Select Lote N 77      90
          Montevideo        Monte Vide Eu Tannat-Merlot-Tempranillo      91
          Progreso                   Etxe Oneko Fortified Sweet Red      90
          San Jose                         El Preciado Gran Reserva      87
          Uruguay                         Blend 002 Limited Edition      91

                            price          province                 region_1  \
country   province
Argentina Mendoza Province  120.0  Mendoza Province                  Mendoza
          Other              90.0             Other                    Salta
Armenia   Armenia            15.0           Armenia                      NaN
Australia Australia Other    15.0   Australia Other  South Eastern Australia
          New South Wales    32.0   New South Wales          New South Wales
...                           ...               ...                      ...
Uruguay   Juanico            45.0           Juanico                      NaN
          Montevideo         60.0        Montevideo                      NaN
          Progreso           46.0          Progreso                      NaN
          San Jose           50.0          San Jose                      NaN
          Uruguay            22.0           Uruguay                      NaN

                           region_2        taster_name taster_twitter_handle  \
country   province
Argentina Mendoza Province      NaN  Michael Schachner           @wineschach
          Other                 NaN  Michael Schachner           @wineschach
Armenia   Armenia               NaN      Mike DeSimone        @worldwineguys
Australia Australia Other       NaN                NaN                   NaN
          New South Wales       NaN     Joe Czerwinski                @JoeCz
...                             ...                ...                   ...
Uruguay   Juanico               NaN  Michael Schachner           @wineschach
          Montevideo            NaN  Michael Schachner           @wineschach
          Progreso              NaN  Michael Schachner           @wineschach
          San Jose              NaN  Michael Schachner           @wineschach
          Uruguay               NaN  Michael Schachner           @wineschach

                                                                        title  \
country   province
Argentina Mendoza Province  Bodega Catena Zapata 2006 Nicasia Vineyard Mal...
          Other                            Colomé 2010 Reserva Malbec (Salta)
Armenia   Armenia                 Van Ardi 2015 Estate Bottled Rosé (Armenia)
Australia Australia Other   Marquis Philips 2000 Sarah's Blend Red (South ...
          New South Wales   De Bortoli 2007 Noble One Bortytis Semillon (N...
...                                                                       ...
Uruguay   Juanico           Familia Deicas 2004 Preludio Barrel Select Lot...
          Montevideo        Bouza 2015 Monte Vide Eu Tannat-Merlot-Tempran...
          Progreso          Pisano 2007 Etxe Oneko Fortified Sweet Red Tan...
          San Jose          Castillo Viejo 2005 El Preciado Gran Reserva R...
          Uruguay           Narbona NV Blend 002 Limited Edition Tannat-Ca...

                                          variety                winery
country   province
Argentina Mendoza Province                 Malbec  Bodega Catena Zapata
          Other                            Malbec                Colomé
Armenia   Armenia                            Rosé              Van Ardi
Australia Australia Other               Red Blend       Marquis Philips
          New South Wales                Sémillon            De Bortoli
...                                           ...                   ...
Uruguay   Juanico                       Red Blend        Familia Deicas
          Montevideo                    Red Blend                 Bouza
          Progreso                         Tannat                Pisano
          San Jose                      Red Blend        Castillo Viejo
          Uruguay           Tannat-Cabernet Franc               Narbona

[425 rows x 14 columns]

In [74]:
#agg
reviews.groupby(['country']).price.agg([len,min,max])

                            len   min     max
country
Argentina                3800.0   4.0   230.0
Armenia                     2.0  14.0    15.0
Australia                2329.0   5.0   850.0
Austria                  3345.0   7.0  1100.0
Bosnia and Herzegovina      2.0  12.0    13.0
Brazil                     52.0  10.0    60.0
Bulgaria                  141.0   8.0   100.0
Canada                    257.0  12.0   120.0
Chile                    4472.0   5.0   400.0
China                       1.0  18.0    18.0
Croatia                    73.0  12.0    65.0
Cyprus                     11.0  11.0    21.0
Czech Republic             12.0  15.0    45.0
Egypt                       1.0   NaN     NaN
England                    74.0  25.0    95.0
France                  22093.0   5.0  3300.0
Georgia                    86.0   9.0    40.0
Germany                  2165.0   5.0   775.0
Greece                    466.0   8.0    79.0
Hungary                   146.0  10.0   764.0
India                       9.0  10.0    20.0
Israel                    505.0   8.0   150.0
Italy                   19540.0   5.0   900.0
Lebanon                    35.0  13.0    75.0
Luxembourg                  6.0  16.0    30.0
Macedonia                  12.0  15.0    20.0
Mexico                     70.0   8.0   108.0
Moldova                    59.0   8.0    42.0
Morocco                    28.0  14.0    40.0
New Zealand              1419.0   7.0   130.0
Peru                       16.0  10.0    68.0
Portugal                 5691.0   5.0  1000.0
Romania                   120.0   4.0   320.0
Serbia                     12.0  15.0    42.0
Slovakia                    1.0  16.0    16.0
Slovenia                   87.0   7.0    90.0
South Africa             1401.0   5.0   330.0
Spain                    6645.0   4.0   770.0
Switzerland                 7.0  21.0   160.0
Turkey                     90.0  14.0   120.0
US                      54504.0   4.0  2013.0
Ukraine                    14.0   6.0    13.0
Uruguay                   109.0  10.0   130.0

<a name='12'></a>
### Multi-indexes

In [75]:
countries_reviewed = reviews.groupby(['country', 'province']).description.agg([len])
countries_reviewed

                             len
country   province
Argentina Mendoza Province  3264
          Other              536
Armenia   Armenia              2
Australia Australia Other    245
          New South Wales     85
...                          ...
Uruguay   Juanico             12
          Montevideo          11
          Progreso            11
          San Jose             3
          Uruguay             24

[425 rows x 1 columns]

In [77]:
mi=countries_reviewed.index
print(mi)
type(mi)

MultiIndex([('Argentina',  'Mendoza Province'),
            ('Argentina',             'Other'),
            (  'Armenia',           'Armenia'),
            ('Australia',   'Australia Other'),
            ('Australia',   'New South Wales'),
            ('Australia',   'South Australia'),
            ('Australia',          'Tasmania'),
            ('Australia',          'Victoria'),
            ('Australia', 'Western Australia'),
            (  'Austria',           'Austria'),
            ...
            (       'US',        'Washington'),
            (       'US', 'Washington-Oregon'),
            (  'Ukraine',           'Ukraine'),
            (  'Uruguay',         'Atlantida'),
            (  'Uruguay',         'Canelones'),
            (  'Uruguay',           'Juanico'),
            (  'Uruguay',        'Montevideo'),
            (  'Uruguay',          'Progreso'),
            (  'Uruguay',          'San Jose'),
            (  'Uruguay',           'Uruguay')],
           names=['country', 'province'], length=425)

pandas.core.indexes.multi.MultiIndex

In [79]:
#reset_index()
countries_reviewed.reset_index()

       country          province   len
0    Argentina  Mendoza Province  3264
1    Argentina             Other   536
2      Armenia           Armenia     2
3    Australia   Australia Other   245
4    Australia   New South Wales    85
..         ...               ...   ...
420    Uruguay           Juanico    12
421    Uruguay        Montevideo    11
422    Uruguay          Progreso    11
423    Uruguay          San Jose     3
424    Uruguay           Uruguay    24

[425 rows x 3 columns]

<a name='13'></a>
### Sorting

In [80]:
#sort_values
countries_reviewed = countries_reviewed.reset_index()
countries_reviewed.sort_values(by='len')

          country               province    len
179        Greece  Muscat of Kefallonian      1
192        Greece          Sterea Ellada      1
194        Greece                 Thraki      1
354  South Africa             Paardeberg      1
40         Brazil       Serra do Sudeste      1
..            ...                    ...    ...
409            US                 Oregon   5373
227         Italy                Tuscany   5897
118        France               Bordeaux   5941
415            US             Washington   8639
392            US             California  36247

[425 rows x 3 columns]

In [81]:
countries_reviewed.sort_values(by='len',ascending=False)

          country         province    len
392            US       California  36247
415            US       Washington   8639
118        France         Bordeaux   5941
227         Italy          Tuscany   5897
409            US           Oregon   5373
..            ...              ...    ...
101       Croatia              Krk      1
247   New Zealand        Gladstone      1
357  South Africa  Piekenierskloof      1
63          Chile          Coelemu      1
149        Greece           Beotia      1

[425 rows x 3 columns]

In [82]:
#sort_index()
countries_reviewed.sort_index()

       country          province   len
0    Argentina  Mendoza Province  3264
1    Argentina             Other   536
2      Armenia           Armenia     2
3    Australia   Australia Other   245
4    Australia   New South Wales    85
..         ...               ...   ...
420    Uruguay           Juanico    12
421    Uruguay        Montevideo    11
422    Uruguay          Progreso    11
423    Uruguay          San Jose     3
424    Uruguay           Uruguay    24

[425 rows x 3 columns]

In [83]:
countries_reviewed.sort_values(by=['country','len'])

       country          province   len
1    Argentina             Other   536
0    Argentina  Mendoza Province  3264
2      Armenia           Armenia     2
6    Australia          Tasmania    42
4    Australia   New South Wales    85
..         ...               ...   ...
421    Uruguay        Montevideo    11
422    Uruguay          Progreso    11
420    Uruguay           Juanico    12
424    Uruguay           Uruguay    24
419    Uruguay         Canelones    43

[425 rows x 3 columns]

In [84]:
countries_reviewed.sort_values(by=['len','country'])

    country                  province    len
40   Brazil          Serra do Sudeste      1
48   Canada              Canada Other      1
58    Chile  Casablanca-Curicó Valley      1
63    Chile                   Coelemu      1
93    China                     China      1
..      ...                       ...    ...
409      US                    Oregon   5373
227   Italy                   Tuscany   5897
118  France                  Bordeaux   5941
415      US                Washington   8639
392      US                California  36247

[425 rows x 3 columns]

<a name='14'></a>
### Dtypes

In [5]:
#dtype
reviews.price.dtype

dtype('float64')

In [6]:
reviews.dtypes

Unnamed: 0                 int64
country                   object
description               object
designation               object
points                     int64
price                    float64
province                  object
region_1                  object
region_2                  object
taster_name               object
taster_twitter_handle     object
title                     object
variety                   object
winery                    object
dtype: object

In [7]:
reviews.points.astype('float64')

0         87.0
1         87.0
2         87.0
3         87.0
4         87.0
          ...
129966    90.0
129967    90.0
129968    90.0
129969    90.0
129970    90.0
Name: points, Length: 129971, dtype: float64

In [8]:
reviews.index.dtype

dtype('int64')

<a name='15'></a>
### Missing data

In [9]:
reviews[pd.isnull(reviews.country)]

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
913,913,NaN,"Amber in color, this wine has aromas of peach ...",Asureti Valley,87,30.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Gotsa Family Wines 2014 Asureti Valley Chinuri,Chinuri,Gotsa Family Wines
3131,3131,NaN,"Soft, fruity and juicy, this is a pleasant, si...",Partager,83,NaN,NaN,NaN,NaN,Roger Voss,@vossroger,Barton & Guestier NV Partager Red,Red Blend,Barton & Guestier
4243,4243,NaN,"Violet-red in color, this semisweet wine has a...",Red Naturally Semi-Sweet,88,18.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Kakhetia Traditional Winemaking 2012 Red Natur...,Ojaleshi,Kakhetia Traditional Winemaking
9509,9509,NaN,This mouthwatering blend starts with a nose of...,Theopetra Malagouzia-Assyrtiko,92,28.0,NaN,NaN,NaN,Susan Kostrzewa,@suskostrzewa,Tsililis 2015 Theopetra Malagouzia-Assyrtiko W...,White Blend,Tsililis
9750,9750,NaN,This orange-style wine has a cloudy yellow-gol...,Orange Nikolaevo Vineyard,89,28.0,NaN,NaN,NaN,Jeff Jenssen,@worldwineguys,Ross-idi 2015 Orange Nikolaevo Vineyard Chardo...,Chardonnay,Ross-idi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124176,124176,NaN,This Swiss red blend is composed of four varie...,Les Romaines,90,30.0,NaN,NaN,NaN,Jeff Jenssen,@worldwineguys,Les Frères Dutruy 2014 Les Romaines Red,Red Blend,Les Frères Dutruy
129407,129407,NaN,Dry spicy aromas of dusty plum and tomato add ...,Reserve,89,22.0,NaN,NaN,NaN,Michael Schachner,@wineschach,El Capricho 2015 Reserve Cabernet Sauvignon,Cabernet Sauvignon,El Capricho
129408,129408,NaN,El Capricho is one of Uruguay's more consisten...,Reserve,89,22.0,NaN,NaN,NaN,Michael Schachner,@wineschach,El Capricho 2015 Reserve Tempranillo,Tempranillo,El Capricho
129590,129590,NaN,"A blend of 60% Syrah, 30% Cabernet Sauvignon a...",Shah,90,30.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Büyülübağ 2012 Shah Red,Red Blend,Büyülübağ
129900,129900,NaN,This wine offers a delightful bouquet of black...,NaN,91,32.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Psagot 2014 Merlot,Merlot,Psagot

In [21]:
reviews.region_2.fillna('unknown')

0                   unknown
1                   unknown
2         Willamette Valley
3                   unknown
4         Willamette Valley
                ...
129966              unknown
129967         Oregon Other
129968              unknown
129969              unknown
129970              unknown
Name: region_2, Length: 129971, dtype: object

In [23]:
reviews.taster_twitter_handle.replace("@kerinokeefe","@kerino")

0             @kerino
1          @vossroger
2         @paulgwine
3                 NaN
4         @paulgwine
             ...
129966            NaN
129967    @paulgwine
129968     @vossroger
129969     @vossroger
129970     @vossroger
Name: taster_twitter_handle, Length: 129971, dtype: object

<a name='16'></a>
### Renaming

In [29]:
#DataFrame.rename
reviews.rename(columns={'points':'score'})

,Unnamed: 0,country,description,designation,score,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [31]:
reviews.rename(index={0:'firstEntry',1:'secondEntry'})

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
firstEntry,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
secondEntry,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [34]:
#DataFrame.rename_axis()
reviews.rename_axis("wines",axis='rows').rename_axis("fields",axis='columns')

fields,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
wines,,,,,,,,,,,,,,
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

<a name='17'></a>
### Combining

In [37]:
#DataFrame.concat()
canadian_youtube = pd.read_csv("data/CAvideos.csv")
british_youtube = pd.read_csv("data/GBvideos.csv")
pd.concat([canadian_youtube,british_youtube])

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyoncé i...
1,0dBIkQ4Mz1M,17.14.11,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23,2017-11-13T17:00:00.000Z,"plush|""bad unboxing""|""unboxing""|""fan mail""|""id...",1014651,127794,1688,13030,https://i.ytimg.com/vi/0dBIkQ4Mz1M/default.jpg,False,False,False,STill got a lot of packages. Probably will las...
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146035,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095828,132239,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...
4,2Vv-BfVoq4g,17.14.11,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,10,2017-11-09T11:04:14.000Z,"edsheeran|""ed sheeran""|""acoustic""|""live""|""cove...",33523622,1634130,21082,85067,https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg,False,False,False,🎧: https://ad.gt/yt-perfect\n💰: https://atlant...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38911,l884wKofd54,18.14.06,Enrique Iglesias - MOVE TO MIAMI (Official Vid...,EnriqueIglesiasVEVO,10,2018-05-09T07:00:01.000Z,"Enrique Iglesias feat. Pitbull|""MOVE TO MIAMI""...",25066952,268088,12783,9933,https://i.ytimg.com/vi/l884wKofd54/default.jpg,False,False,False,NEW SONG - MOVE TO MIAMI feat. Pitbull (Click ...
38912,IP8k2xkhOdI,18.14.06,Jacob Sartorius - Up With It (Official Music V...,Jacob Sartorius,10,2018-05-11T17:09:16.000Z,"jacob sartorius|""jacob""|""up with it""|""jacob sa...",1492219,61998,13781,24330,https://i.ytimg.com/vi/IP8k2xkhOdI/default.jpg,False,False,False,THE OFFICIAL UP WITH IT MUSIC VIDEO!Get my new...
38913,Il-an3K9pjg,18.14.06,Anne-Marie - 2002 [Official Video],Anne-Marie,10,2018-05-08T11:05:08.000Z,"anne|""marie""|""anne-marie""|""2002""|""two thousand...",29641412,394830,8892,19988,https://i.ytimg.com/vi/Il-an3K9pjg/default.jpg,False,False,False,Get 2002 by Anne-Marie HERE ▶ http://ad.gt/200...
38914,-DRsfNObKIQ,18.14.06,Eleni Foureira - Fuego - Cyprus - LIVE - First...,Eurovision Song Contest,24,2018-05-08T20:32:32.000Z,"Eurovision Song Contest|""2018""|""Lisbon""|""Cypru...",14317515,151870,45875,26766,https://i.ytimg.com/vi/-DRsfNObKIQ/default.jpg,False,False,False,Eleni Foureira represented Cyprus at the first...
38915,4YFo4bdMO8Q,18.14.06,KYLE - Ikuyo feat. 2 Chainz & Sophia Black [A...,SuperDuperKyle,10,2018-05-11T04:06:35.000Z,"Kyle|""SuperDuperKyle""|""Ikuyo""|""2 Chainz""|""Soph...",607552,18271,274,1423,https://i.ytimg.com/vi/4YFo4bdMO8Q/default.jpg,False,False,False,Debut album 'Light of Mine' out now: http://ky...

In [39]:
#DataFrame.join()
left = canadian_youtube.set_index(['title', 'trending_date'])
right = british_youtube.set_index(['title', 'trending_date'])
left.join(right,lsuffix='_CAN',rsuffix='_UK')

                                                                 video_id_CAN  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01       PNn8sECd7io
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03       DvPW66IFhMI
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03       EXEaMjFeiEk
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12       bYvQmusLaxw
                                                   17.21.12       bYvQmusLaxw
...                                                                       ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05       WttN1Z0XF4k
                                                   18.29.04       WttN1Z0XF4k
                                                   18.30.04       WttN1Z0XF4k
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05       Wt9Gkpmbt44
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04       Az72jrKbANA

                                                                                channel_title_CAN  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01                            Markiplier
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03                        AlexRamiGaming
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03                        AlexRamiGaming
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12                  Pure Living for Life
                                                   17.21.12                  Pure Living for Life
...                                                                                           ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05                          How Talented
                                                   18.29.04                          How Talented
                                                   18.30.04                          How Talented
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05                         TheBigJackpot
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04       Right Side Broadcasting Network

                                                                  category_id_CAN  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01                    20
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03                    20
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03                    20
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12                    24
                                                   17.21.12                    24
...                                                                           ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05                    24
                                                   18.29.04                    24
                                                   18.30.04                    24
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05                    24
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04                    25

                                                                          publish_time_CAN  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01       2018-01-03T19:33:53.000Z
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03       2018-03-09T07:15:52.000Z
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03       2018-03-10T06:26:17.000Z
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12       2017-12-20T02:49:11.000Z
                                                   17.21.12       2017-12-20T02:49:11.000Z
...                                                                                    ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05       2018-04-28T19:40:58.000Z
                                                   18.29.04       2018-04-28T19:40:58.000Z
                                                   18.30.04       2018-04-28T19:40:58.000Z
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05       2018-05-07T06:58:59.000Z
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04       2018-04-03T23:12:37.000Z

                                                                                                           tags_CAN  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01       getting over it|"markiplier"|"funny moments"|"...
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03       PS4 Battle Royale|"PS4 Pro Battle Royale"|"Bat...
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03       PS4 Battle Royale|"PS4 Pro Battle Royale"|"Bat...
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12       timber frame|"timber framing"|"timber frame ra...
                                                   17.21.12       timber frame|"timber framing"|"timber frame ra...
...                                                                                                             ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05       bgt|"bgt 2018"|"britain got talent"|"britain´s...
                                                   18.29.04       bgt|"bgt 2018"|"britain got talent"|"britain´s...
                                                   18.30.04       bgt|"bgt 2018"|"britain got talent"|"britain´s...
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05       Slot Machine|"win"|"Gambling"|"Big Win"|"raja"...
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04       YouTube shooter|"YouTube active shooter"|"acti...

                                                                  views_CAN  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01          835930
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03          212838
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03          200764
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12           79152
                                                   17.21.12          232762
...                                                                     ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05          713400
                                                   18.29.04          231906
                                                   18.30.04          476253
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05           28973
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04          103513

                                                                  likes_CAN  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01           47058
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03            5199
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03            5620
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12            7761
                                                   17.21.12           15515
...                                                                     ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05            4684
                                                   18.29.04            1924
                                                   18.30.04            3417
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05            2167
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04            1722

                                                                  dislikes_CAN  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01               1023
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03                542
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03                537
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12                159
                                                   17.21.12                329
...                                                                        ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05                260
                                                   18.29.04                 78
                                                   18.30.04                176
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05                175
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04                181

                                                                  comment_count_CAN  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01                    8250
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03                      11
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03                      45
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12                    1965
                                                   17.21.12                    3601
...                                                                             ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05                     266
                                                   18.29.04                     146
                                                   18.30.04                     240
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05                      10
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04                      76

                                                                                              thumbnail_link_CAN  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01       https://i.ytimg.com/vi/PNn8sECd7io/default.jpg
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03       https://i.ytimg.com/vi/DvPW66IFhMI/default.jpg
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03       https://i.ytimg.com/vi/EXEaMjFeiEk/default.jpg
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12       https://i.ytimg.com/vi/bYvQmusLaxw/default.jpg
                                                   17.21.12       https://i.ytimg.com/vi/bYvQmusLaxw/default.jpg
...                                                                                                          ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05       https://i.ytimg.com/vi/WttN1Z0XF4k/default.jpg
                                                   18.29.04       https://i.ytimg.com/vi/WttN1Z0XF4k/default.jpg
                                                   18.30.04       https://i.ytimg.com/vi/WttN1Z0XF4k/default.jpg
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05       https://i.ytimg.com/vi/Wt9Gkpmbt44/default.jpg
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04       https://i.ytimg.com/vi/Az72jrKbANA/default.jpg

                                                                  ...  \
title                                              trending_date  ...
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01       ...
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03       ...
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03       ...
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12       ...
                                                   17.21.12       ...
...                                                               ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05       ...
                                                   18.29.04       ...
                                                   18.30.04       ...
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05       ...
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04       ...

                                                                  tags_UK  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01           NaN
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03           NaN
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03           NaN
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12           NaN
                                                   17.21.12           NaN
...                                                                   ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05           NaN
                                                   18.29.04           NaN
                                                   18.30.04           NaN
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05           NaN
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04           NaN

                                                                  views_UK  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01            NaN
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03            NaN
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03            NaN
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12            NaN
                                                   17.21.12            NaN
...                                                                    ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05            NaN
                                                   18.29.04            NaN
                                                   18.30.04            NaN
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05            NaN
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04            NaN

                                                                  likes_UK  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01            NaN
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03            NaN
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03            NaN
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12            NaN
                                                   17.21.12            NaN
...                                                                    ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05            NaN
                                                   18.29.04            NaN
                                                   18.30.04            NaN
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05            NaN
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04            NaN

                                                                 dislikes_UK  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01              NaN
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03              NaN
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03              NaN
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12              NaN
                                                   17.21.12              NaN
...                                                                      ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05              NaN
                                                   18.29.04              NaN
                                                   18.30.04              NaN
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05              NaN
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04              NaN

                                                                 comment_count_UK  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01                   NaN
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03                   NaN
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03                   NaN
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12                   NaN
                                                   17.21.12                   NaN
...                                                                           ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05                   NaN
                                                   18.29.04                   NaN
                                                   18.30.04                   NaN
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05                   NaN
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04                   NaN

                                                                 thumbnail_link_UK  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01                    NaN
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03                    NaN
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03                    NaN
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12                    NaN
                                                   17.21.12                    NaN
...                                                                            ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05                    NaN
                                                   18.29.04                    NaN
                                                   18.30.04                    NaN
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05                    NaN
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04                    NaN

                                                                  comments_disabled_UK  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01                        NaN
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03                        NaN
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03                        NaN
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12                        NaN
                                                   17.21.12                        NaN
...                                                                                ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05                        NaN
                                                   18.29.04                        NaN
                                                   18.30.04                        NaN
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05                        NaN
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04                        NaN

                                                                 ratings_disabled_UK  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01                      NaN
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03                      NaN
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03                      NaN
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12                      NaN